* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;

}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    ;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 350px;
    ;
}

.menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

header img {
    width: 130px;
}


.banner {
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid palevioletred;
}

.banner img {
    width: 100%;
}

.banner a {
    position: absolute;
    top: 52%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}